@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	margin: 0 auto;
}

a {
	@apply font-bold text-neutral-100 decoration-0;
	transition: 0.2s;
}

@media (hover: hover) {
	a:hover {
		@apply text-amber-500;
	}

	button:hover {
		@apply bg-amber-500;
	}

	input:hover {
		@apply border-amber-500;
	}

	input:focus {
		@apply outline-none border-amber-500;
	}
}

@media (min-width: 1024px) {
}

/* ANIMATIONS */
.fade-enter-active,
.fade-leave-active {
	transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
